services:
    app:
        build:
            context: .
            dockerfile: .docker/node/Dockerfile
            target: production
        restart: always
        volumes:
            - ./.logs/node:/app/.logs
        environment:
            - NODE_ENV=production
            - DB_HOST=db
            - DB_PORT=3306
            - DB_USER=${DB_USER}
            - DB_PASSWORD=${DB_PASSWORD}
            - DB_NAME=${DB_NAME}
            - SESSION_SECRET=${SESSION_SECRET}
            - NUXT_PUBLIC_SITE_URL=${NUXT_PUBLIC_SITE_URL}
        deploy:
            resources:
                limits:
                    memory: 450M
        depends_on:
            - db

    db:
        image: mariadb:latest
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
            MYSQL_DATABASE: ${DB_NAME}
            MYSQL_USER: ${DB_USER}
            MYSQL_PASSWORD: ${DB_PASSWORD}
        ports:
            - '3306:3306'
        volumes:
            - ./.data/mariadb:/var/lib/mysql
            - ./.logs/mariadb:/var/log/mysql
        deploy:
            resources:
                limits:
                    memory: 450M

    nginx:
        image: nginx:alpine
        restart: always
        ports:
            - '80:80'
        volumes:
            - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./.logs/nginx:/var/log/nginx
        depends_on:
            - app
